---
import { Image } from "astro:assets";
import Button from "./Button.astro";
import Title from "./Title.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="install-app" class="install">
  <div class="install__info">
    <Title title={t("section.get_app.title")} />
    <div class="install__desc-btn">
      <p class="install__desc">
        {t("section.get_app.desc1")}

        <strong>{t("section.get_app.desc2")}</strong>
      </p>
      <div class="install__btn">
        <Button shadow={true} text={t("btn.install")} />
      </div>
    </div>
  </div>
  <div class="install__cellphone">
    <Image
      src="/assets/images/cellphone.png"
      alt="Cellphone"
      width="300"
      height="350"
      class="img-responsive"
    />
  </div>
</section>
<style>
  .install {
    display: flex;
    flex-direction: row;
    margin: var(--spacing-64) 0;
  }

  .install__info {
    flex: 4;
  }

  .install__cellphone {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .install__desc-btn {
    margin-left: var(--spacing-82);
    margin-top: var(--spacing-64);
  }

  .install__btn {
    max-width: 10.25rem;
    margin-top: var(--spacing-64);
    margin-left: var(--spacing-16);
  }

  @media (max-width: 768px) {
    .install {
      flex-direction: column;
    }

    .install__desc-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: var(--spacing-16);
      margin-right: var(--spacing-16);
    }

    .install__cellphone {
      display: none;
    }
  }
</style>
