---
import Button from "./Button.astro";
import { Icon } from "astro-icon/components";
---

<nav>
  <div>
    <Icon name="logo" />
  </div>

  <div>
    <li class=""></li>
    <li class=""></li>
    <li class=""></li>

    <span></span>

    <Button />
    <Button />
  </div>
</nav>

<style></style>
