---
const { title = "" } = Astro.props;
---

<h2 class="title title__text title__text--left-border">{title}</h2>

<style>
  .title__text--left-border {
    text-align: center;
    border-left: 1rem solid var(--palette-primary-light);
  }
</style>
